.chat {

  .author-name-div {
    b {
      font-size: 1.1em;
      color: #00BCD4; //#18bc9c;
    }
    span {
      font-size: 0.9em;
      padding: 0 5px;
      color: darken(#ecf0f1, 25);
    }
    margin: 5px 0;
  }

  .send-message {
    border-top: 1px solid #00BCD4;
    position: relative;
    min-height: 120px;

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

}
