.chat {

  .author-name-div {
    b {
      font-size: 1.1em;
      color: #18bc9c;
    }
    span {
      font-size: 0.9em;
      padding: 0 5px;
      color: darken(#ecf0f1, 25);
    }
    margin: 3px 0;
  }

  .list-group {
    height: 380px;
    overflow: auto;
  }

  .panel-body {
    border-top: 1px solid;
    padding: 10px;
  }

  .send-message {
    position: relative;
    textarea {
      display: inline-block;
      width: 80%;
    }
    button {
      width: 18%;
      position: absolute;
      top: 0;
      right: 0;
      height: 92%;
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }
  }

}
